# Mac Stuff
.DS_Store

# IDE Files
.idea/*
*.sublime-workspace
*.sublime-project

# Development Settings
application/config/development/*

# Composer Installs
vendor/*

adminer.php
adminer-4.7.8-mysql-en.php
.vscode/*

application/controllers/*
application/database/*
application/models/*
application/views/*

oldstuff/*
application/logs/*
application/cache/*
tests/_output/*
o
application/controllers/Test.php
application/views/test/baytwo.php
application/views/test/index.php

application/config/config.php
application/config/database.php
